[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jacob Bengtsson
	email = 87302129+jabb4@users.noreply.github.com
